body{
    background-color: #161616;
    text-align: center;
}
.nav{
    background-color: #3a3737;
    color: #fff;

}
.imgtext h4{
    text-align: center;
}
.hr{
    color:#fff; 
}
.img{
    color: #fff;
}